{{set . "title" "Perfil de donante"}}
{{template "header.html" .}}

<div class="wrapper">
  <div class="middle">
    <div class="content-information">
      <h1>Completa tu perfil</h1>

      <p>Gota de vida utiliza un servicio de geolocalización para encontrár donantes o a personas que necesitan de tu ayuda.</p>

      <p><strong>Todos tus datos son privados y cifrados.</strong></p>

    </div>
  </div><div class="middle">
    <div class="user-data">

      <form id="complete" method="POST" action="{{url "Profile.Save" }}">

        {{with $field := field "user.Email" .}}
        <div class="field field_60">
          <input id="{{$field.Id}}" type="email" name="{{$field.Name}}" value="{{$field.Flash}}" class="{{$field.ErrorClass}}" placeholder="Correo electrónico" required validated/>
          <span class="error">{{$field.Error}}</span>
        </div>
        {{end}}

        {{with $field := field "user.BloodType" .}}
        <div class="field field_40">
          <select id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" class="{{$field.ErrorClass}}" required validated pattern="^(A|B|AB|O)[+-]$" title="Ingresa un tipo de sangre valido.">
            <option disabled selected style='display:none;'>Tipo</option>
            {{range $index, $element := $.bloodTypes}}
            <option value="{{$element}}" {{if eq $field.Flash $element }}selected="selected"{{end}}>{{$element}}</option>
            {{end}}
          </select>
          <span class="error">{{$field.Error}}</span>
        </div>
        {{end}}

        {{with $field := field "user.Name" .}}
        <div class="field">
          <input id="{{$field.Id}}" type="text" name="{{$field.Name}}" value="{{$field.Flash}}" class="{{$field.ErrorClass}}" placeholder="Nombre completo"  title="Ingresa tu nombre completo." required validate/>
          <span class="error">{{$field.Error}}</span>
        </div>
        {{end}}

        {{with $field := field "user.PhoneNumber" .}}
        <div class="field">
          <input id="{{$field.Id}}" type="text" name="{{$field.Name}}" value="{{$field.Flash}}" class="{{$field.ErrorClass}}" placeholder="Número de celular" pattern="[0-9]+" required title="Ingresa un numero de celular valido"/>
          <span class="error">{{$field.Error}}</span>
        </div>
        {{end}}

        {{with $field := field "user.Available" .}}
        <div class="field" style="display: none;">
          <select id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" class="{{$field.ErrorClass}}">
            <option value="true" selected="selected">Estoy disponible para donar</option>
            <option value="false">No estoy disponible para donar</option>
          </select>
          <span class="error">{{$field.Error}}</span>
        </div>
        {{end}}

        <div class="field">
          <input id="geocomplete" type="text" placeholder="Ingresa tu direccion"  />
        </div>

        <div class="map_canvas"></div>

        <div id="lat">
          {{with $field := field "user.Lat" .}}
          <input type="hidden" name="{{$field.Name}}" value="{{$field.Flash}}">
          {{end}}
        </div>

        <div id="lng">
          {{with $field := field "user.Lng" .}}
          <input type="hidden" name="{{$field.Name}}" value="{{$field.Flash}}">
          {{end}}
        </div>

        <div class="field">
          <input type="submit" class="btn" value="Guardar" />
        </div>
      </form>

      {{template "flash_ne.html" .}}

    </div>
  </div>
</div>

{{append . "moreScripts" "js/jquery.geocomplete.min.js"}}
{{append . "moreScripts" "js/app.js"}}
{{append . "moreScripts" "js/geo.js"}}
{{append . "moreScripts" "js/complete.js"}}

{{template "footer.html" .}}
